In [31]:
city = ['Seattle','San Francisco','Los Angeles','Denver','Salt Lake City','Phoenix','Chicago','St. Louis','Dalas','Boston','Washington D.C.','Miami']
totaldays = [306,314,275,366,366,366,366,366,306,306,366,275]
poordays = [14,22,119,34,21,70,28,10,24,0,3,2]
aqimed = [42,45,81,58,50,75,56,52,49,42,42,44]
zone = ['west','west','west','mountain','mountain','mountain','central','central','central','east','east','east']

In [32]:
aqimedavg = sum(aqimed)/len(aqimed)
tdaysavg = sum(totaldays)/len(totaldays)
pdaysavg = sum(poordays)/len(poordays)

In [33]:
import pandas as pd

aqicities = pd.DataFrame({'City':city,'Total_Days':totaldays,'Poor_Days':poordays,'AQI_Median':aqimed,'Zone':zone})

In [55]:
aqicities

               City  Total_Days  Poor_Days  AQI_Median      Zone
0           Seattle         306         14          42      west
1     San Francisco         314         22          45      west
2       Los Angeles         275        119          81      west
3            Denver         366         34          58  mountain
4    Salt Lake City         366         21          50  mountain
5           Phoenix         366         70          75  mountain
6           Chicago         366         28          56   central
7         St. Louis         366         10          52   central
8             Dalas         306         24          49   central
9            Boston         306          0          42      east
10  Washington D.C.         366          3          42      east
11            Miami         275          2          44      east

In [56]:
aqicities2 = pd.read_csv('aqicities2.csv')

In [57]:
aqicities2

               City  Total_Days  Poor_Days  AQI_Median      Zone
0          Honolulu         366          0        26.0      west
1         Anchorage         366          0        22.0      west
2        Twin Falls         272          7        18.0  mountain
3   Dona Ann County         366         21        53.0  mountain
4       Lake County         366         10        36.5   central
5    Orleans Parish         366          0        27.0   central
6     Mercer County         366          3        38.0      east
7  Aroostook County         366          1        33.0      east

In [58]:
type(aqicities2)

pandas.core.frame.DataFrame

In [59]:
alldata = pd.concat([aqicities,aqicities2],join = 'inner')

In [60]:
alldata

                City  Total_Days  Poor_Days  AQI_Median      Zone
0            Seattle         306         14        42.0      west
1      San Francisco         314         22        45.0      west
2        Los Angeles         275        119        81.0      west
3             Denver         366         34        58.0  mountain
4     Salt Lake City         366         21        50.0  mountain
5            Phoenix         366         70        75.0  mountain
6            Chicago         366         28        56.0   central
7          St. Louis         366         10        52.0   central
8              Dalas         306         24        49.0   central
9             Boston         306          0        42.0      east
10   Washington D.C.         366          3        42.0      east
11             Miami         275          2        44.0      east
0           Honolulu         366          0        26.0      west
1          Anchorage         366          0        22.0      west
2         Twin Falls         272          7        18.0  mountain
3    Dona Ann County         366         21        53.0  mountain
4        Lake County         366         10        36.5   central
5     Orleans Parish         366          0        27.0   central
6      Mercer County         366          3        38.0      east
7   Aroostook County         366          1        33.0      east

In [61]:
alldata.describe()

       Total_Days   Poor_Days  AQI_Median
count   20.000000   20.000000   20.000000
mean   340.600000   19.450000   44.475000
std     36.991322   28.878101   16.011078
min    272.000000    0.000000   18.000000
25%    306.000000    1.750000   35.625000
50%    366.000000   10.000000   43.000000
75%    366.000000   22.500000   52.250000
max    366.000000  119.000000   81.000000

In [62]:
type(alldata)

pandas.core.frame.DataFrame

In [64]:
alldata = alldata.reset_index()

In [65]:
alldata = alldata.drop(['index'], axis=1)

In [66]:
alldata

                City  Total_Days  Poor_Days  AQI_Median      Zone
0            Seattle         306         14        42.0      west
1      San Francisco         314         22        45.0      west
2        Los Angeles         275        119        81.0      west
3             Denver         366         34        58.0  mountain
4     Salt Lake City         366         21        50.0  mountain
5            Phoenix         366         70        75.0  mountain
6            Chicago         366         28        56.0   central
7          St. Louis         366         10        52.0   central
8              Dalas         306         24        49.0   central
9             Boston         306          0        42.0      east
10   Washington D.C.         366          3        42.0      east
11             Miami         275          2        44.0      east
12          Honolulu         366          0        26.0      west
13         Anchorage         366          0        22.0      west
14        Twin Falls         272          7        18.0  mountain
15   Dona Ann County         366         21        53.0  mountain
16       Lake County         366         10        36.5   central
17    Orleans Parish         366          0        27.0   central
18     Mercer County         366          3        38.0      east
19  Aroostook County         366          1        33.0      east

 # 1

In [67]:
alldata.shape

(20, 5)

 # 2

In [68]:
alldata.dtypes

City           object
Total_Days      int64
Poor_Days       int64
AQI_Median    float64
Zone           object
dtype: object

 # 3

In [69]:
sum(alldata.Poor_Days)

389

 # 4

In [73]:
mean1 = sum(alldata.Poor_Days)/len(alldata.Poor_Days)

In [74]:
mean1

19.45

 # 5

In [75]:
mean2 = sum(alldata.AQI_Median)/len(alldata.AQI_Median)

In [76]:
mean2

44.475

 # 6

In [107]:
groupby = alldata.groupby(['Zone']).sum()

In [108]:
groupby

          Total_Days  Poor_Days  AQI_Median
Zone
central         1770         72       220.5
east            1679          9       199.0
mountain        1736        153       254.0
west            1627        155       216.0

In [109]:
type(groupby)

pandas.core.frame.DataFrame

In [113]:
groupbysum = groupby.drop(['Total_Days','AQI_Median'], axis=1)

In [114]:
type(groupbysum)

pandas.core.frame.DataFrame

In [115]:
groupbysum

          Poor_Days
Zone
central          72
east              9
mountain        153
west            155

 # 7

In [173]:
Poor_Dayavg = alldata.groupby(['Zone'])['Poor_Days'].mean()

In [174]:
Poor_Dayavg

Zone
central     14.4
east         1.8
mountain    30.6
west        31.0
Name: Poor_Days, dtype: float64

 # 8

In [175]:
AQI_Medianavg = alldata.groupby(['Zone'])['AQI_Median'].mean()

In [176]:
AQI_Medianavg

Zone
central     44.1
east        39.8
mountain    50.8
west        43.2
Name: AQI_Median, dtype: float64

In [177]:
alldata.to_csv('allcitiesAQI.csv', index = False)

In [178]:
alldata

                City  Total_Days  Poor_Days  AQI_Median      Zone
0            Seattle         306         14        42.0      west
1      San Francisco         314         22        45.0      west
2        Los Angeles         275        119        81.0      west
3             Denver         366         34        58.0  mountain
4     Salt Lake City         366         21        50.0  mountain
5            Phoenix         366         70        75.0  mountain
6            Chicago         366         28        56.0   central
7          St. Louis         366         10        52.0   central
8              Dalas         306         24        49.0   central
9             Boston         306          0        42.0      east
10   Washington D.C.         366          3        42.0      east
11             Miami         275          2        44.0      east
12          Honolulu         366          0        26.0      west
13         Anchorage         366          0        22.0      west
14        Twin Falls         272          7        18.0  mountain
15   Dona Ann County         366         21        53.0  mountain
16       Lake County         366         10        36.5   central
17    Orleans Parish         366          0        27.0   central
18     Mercer County         366          3        38.0      east
19  Aroostook County         366          1        33.0      east