In [1]:
city2020 = ['Seattle','San Francisco','Los Angeles','Honolulu','Anchorage','Denver','Salt Lake City','Phoenix','Twin Falls','Albuquerque','Chicago','St. Louis','Dalas','Columbus','New Orleans','Boston','Washington D.C.','Miami','Trenton','Portland']
totaldays2020 = [306,314,275,366,366,366,366,366,272,366,366,366,306,366,366,306,366,275,366,366]
poordays2020 = [14,22,119,0,0,34,21,70,7,10,28,11,24,3,0,0,3,2,3,0]
aqimed2020 = [42,45,81,26,22,58,50,75,18,54,56,54,49,41,44,42,42,44,38,39]
zone2020 = ['west','west','west','west','west','mountain','mountain','mountain','mountain','mountain','central','central','central','central','central','east','east','east','east','east']

In [2]:
aqimedavg = sum(aqimed2020)/len(aqimed2020)
tdaysavg = sum(totaldays2020)/len(totaldays2020)
pdaysavg = sum(poordays2020)/len(poordays2020)

In [3]:
import pandas as pd

aqicities2020 = pd.DataFrame({'City2020':city2020,'Total_Days2020':totaldays2020,'Poor_Days2020':poordays2020,'AQI_Median2020':aqimed2020,'Zone2020':zone2020})

In [4]:
aqicities2020

           City2020  Total_Days2020  Poor_Days2020  AQI_Median2020  Zone2020
0           Seattle             306             14              42      west
1     San Francisco             314             22              45      west
2       Los Angeles             275            119              81      west
3          Honolulu             366              0              26      west
4         Anchorage             366              0              22      west
5            Denver             366             34              58  mountain
6    Salt Lake City             366             21              50  mountain
7           Phoenix             366             70              75  mountain
8        Twin Falls             272              7              18  mountain
9       Albuquerque             366             10              54  mountain
10          Chicago             366             28              56   central
11        St. Louis             366             11              54   central
12            Dalas             306             24              49   central
13         Columbus             366              3              41   central
14      New Orleans             366              0              44   central
15           Boston             306              0              42      east
16  Washington D.C.             366              3              42      east
17            Miami             275              2              44      east
18          Trenton             366              3              38      east
19         Portland             366              0              39      east

In [5]:
city2010 = ['Seattle','San Francisco','Los Angeles','Honolulu','Anchorage','Denver','Salt Lake City','Phoenix','Twin Falls','Albuquerque','Chicago','St. Louis','Dalas','Columbus','New Orleans','Boston','Washington D.C.','Miami','Trenton','Portland']
totaldays2010 = [365,365,365,365,365,365,365,365,351,365,365,365,365,365,365,365,365,365,365,365]
poordays2010 = [3,14,115,1,5,38,24,59,1,5,43,103,28,23,72,10,50,6,33,8]
aqimed2010 = [41,48,77,38,32,61,51,74,24,60,71,74,52,51,63,47,55,48,44,38]
zone2010 = ['west','west','west','west','west','mountain','mountain','mountain','mountain','mountain','central','central','central','central','central','east','east','east','east','east']

In [6]:
aqicities2010 = pd.DataFrame({'City2010':city2010,'Total_Days2010':totaldays2010,'Poor_Days2010':poordays2010,'AQI_Median2010':aqimed2010,'Zone2010':zone2010})

In [7]:
aqicities2010

           City2010  Total_Days2010  Poor_Days2010  AQI_Median2010  Zone2010
0           Seattle             365              3              41      west
1     San Francisco             365             14              48      west
2       Los Angeles             365            115              77      west
3          Honolulu             365              1              38      west
4         Anchorage             365              5              32      west
5            Denver             365             38              61  mountain
6    Salt Lake City             365             24              51  mountain
7           Phoenix             365             59              74  mountain
8        Twin Falls             351              1              24  mountain
9       Albuquerque             365              5              60  mountain
10          Chicago             365             43              71   central
11        St. Louis             365            103              74   central
12            Dalas             365             28              52   central
13         Columbus             365             23              51   central
14      New Orleans             365             72              63   central
15           Boston             365             10              47      east
16  Washington D.C.             365             50              55      east
17            Miami             365              6              48      east
18          Trenton             365             33              44      east
19         Portland             365              8              38      east

In [8]:
alldata = pd.concat([aqicities2020,aqicities2010], axis = 1, join = 'inner')

In [9]:
alldata

,City2020,Total_Days2020,Poor_Days2020,AQI_Median2020,Zone2020,City2010,Total_Days2010,Poor_Days2010,AQI_Median2010,Zone2010
0,Seattle,306,14,42,west,Seattle,365,3,41,west
1,San Francisco,314,22,45,west,San Francisco,365,14,48,west
2,Los Angeles,275,119,81,west,Los Angeles,365,115,77,west
3,Honolulu,366,0,26,west,Honolulu,365,1,38,west
4,Anchorage,366,0,22,west,Anchorage,365,5,32,west
5,Denver,366,34,58,mountain,Denver,365,38,61,mountain
6,Salt Lake City,366,21,50,mountain,Salt Lake City,365,24,51,mountain
7,Phoenix,366,70,75,mountain,Phoenix,365,59,74,mountain
8,Twin Falls,272,7,18,mountain,Twin Falls,351,1,24,mountain
9,Albuquerque,366,10,54,mountain,Albuquerque,365,5,60,mountain
10,Chicago,366,28,56,central,Chicago,365,43,71,central
11,St. Louis,366,11,54,central,St. Louis,365,103,74,central
12,Dalas,306,24,49,central,Dalas,365,28,52,central
13,Columbus,366,3,41,central,Columbus,365,23,51,central
14,New Orleans,366,0,44,central,New Orleans,365,72,63,central
15,Boston,306,0,42,east,Boston,365,10,47,east
16,Washington D.C.,366,3,42,east,Washington D.C.,365,50,55,east
17,Miami,275,2,44,east,Miami,365,6,48,east
18,Trenton,366,3,38,east,Trenton,365,33,44,east
19,Portland,366,0,39,east,Portland,365,8,38,east

In [10]:
alldata['Scale2020'] = alldata['Total_Days2020']/366

In [11]:
alldata

,City2020,Total_Days2020,Poor_Days2020,AQI_Median2020,Zone2020,City2010,Total_Days2010,Poor_Days2010,AQI_Median2010,Zone2010,Scale2020
0,Seattle,306,14,42,west,Seattle,365,3,41,west,0.836066
1,San Francisco,314,22,45,west,San Francisco,365,14,48,west,0.857923
2,Los Angeles,275,119,81,west,Los Angeles,365,115,77,west,0.751366
3,Honolulu,366,0,26,west,Honolulu,365,1,38,west,1.000000
4,Anchorage,366,0,22,west,Anchorage,365,5,32,west,1.000000
5,Denver,366,34,58,mountain,Denver,365,38,61,mountain,1.000000
6,Salt Lake City,366,21,50,mountain,Salt Lake City,365,24,51,mountain,1.000000
7,Phoenix,366,70,75,mountain,Phoenix,365,59,74,mountain,1.000000
8,Twin Falls,272,7,18,mountain,Twin Falls,351,1,24,mountain,0.743169
9,Albuquerque,366,10,54,mountain,Albuquerque,365,5,60,mountain,1.000000
10,Chicago,366,28,56,central,Chicago,365,43,71,central,1.000000
11,St. Louis,366,11,54,central,St. Louis,365,103,74,central,1.000000
12,Dalas,306,24,49,central,Dalas,365,28,52,central,0.836066
13,Columbus,366,3,41,central,Columbus,365,23,51,central,1.000000
14,New Orleans,366,0,44,central,New Orleans,365,72,63,central,1.000000
15,Boston,306,0,42,east,Boston,365,10,47,east,0.836066
16,Washington D.C.,366,3,42,east,Washington D.C.,365,50,55,east,1.000000
17,Miami,275,2,44,east,Miami,365,6,48,east,0.751366
18,Trenton,366,3,38,east,Trenton,365,33,44,east,1.000000
19,Portland,366,0,39,east,Portland,365,8,38,east,1.000000

In [12]:
alldata['Poorday_Rate2020'] = alldata['Poor_Days2020']/alldata['Scale2020']

In [13]:
alldata['Poorday_Rate2020'] = alldata['Poorday_Rate2020'].astype(int)

In [14]:
alldata

,City2020,Total_Days2020,Poor_Days2020,AQI_Median2020,Zone2020,City2010,Total_Days2010,Poor_Days2010,AQI_Median2010,Zone2010,Scale2020,Poorday_Rate2020
0,Seattle,306,14,42,west,Seattle,365,3,41,west,0.836066,16
1,San Francisco,314,22,45,west,San Francisco,365,14,48,west,0.857923,25
2,Los Angeles,275,119,81,west,Los Angeles,365,115,77,west,0.751366,158
3,Honolulu,366,0,26,west,Honolulu,365,1,38,west,1.000000,0
4,Anchorage,366,0,22,west,Anchorage,365,5,32,west,1.000000,0
5,Denver,366,34,58,mountain,Denver,365,38,61,mountain,1.000000,34
6,Salt Lake City,366,21,50,mountain,Salt Lake City,365,24,51,mountain,1.000000,21
7,Phoenix,366,70,75,mountain,Phoenix,365,59,74,mountain,1.000000,70
8,Twin Falls,272,7,18,mountain,Twin Falls,351,1,24,mountain,0.743169,9
9,Albuquerque,366,10,54,mountain,Albuquerque,365,5,60,mountain,1.000000,10
10,Chicago,366,28,56,central,Chicago,365,43,71,central,1.000000,28
11,St. Louis,366,11,54,central,St. Louis,365,103,74,central,1.000000,11
12,Dalas,306,24,49,central,Dalas,365,28,52,central,0.836066,28
13,Columbus,366,3,41,central,Columbus,365,23,51,central,1.000000,3
14,New Orleans,366,0,44,central,New Orleans,365,72,63,central,1.000000,0
15,Boston,306,0,42,east,Boston,365,10,47,east,0.836066,0
16,Washington D.C.,366,3,42,east,Washington D.C.,365,50,55,east,1.000000,3
17,Miami,275,2,44,east,Miami,365,6,48,east,0.751366,2
18,Trenton,366,3,38,east,Trenton,365,33,44,east,1.000000,3
19,Portland,366,0,39,east,Portland,365,8,38,east,1.000000,0

In [15]:
alldata['Scale2010'] = alldata['Total_Days2010']/365

In [16]:
alldata['Poorday_Rate2010'] = alldata['Poor_Days2010']/alldata['Scale2010']

In [17]:
alldata['Poorday_Rate2010'] = alldata['Poorday_Rate2010'].astype(int)

In [18]:
alldata

,City2020,Total_Days2020,Poor_Days2020,AQI_Median2020,Zone2020,City2010,Total_Days2010,Poor_Days2010,AQI_Median2010,Zone2010,Scale2020,Poorday_Rate2020,Scale2010,Poorday_Rate2010
0,Seattle,306,14,42,west,Seattle,365,3,41,west,0.836066,16,1.000000,3
1,San Francisco,314,22,45,west,San Francisco,365,14,48,west,0.857923,25,1.000000,14
2,Los Angeles,275,119,81,west,Los Angeles,365,115,77,west,0.751366,158,1.000000,115
3,Honolulu,366,0,26,west,Honolulu,365,1,38,west,1.000000,0,1.000000,1
4,Anchorage,366,0,22,west,Anchorage,365,5,32,west,1.000000,0,1.000000,5
5,Denver,366,34,58,mountain,Denver,365,38,61,mountain,1.000000,34,1.000000,38
6,Salt Lake City,366,21,50,mountain,Salt Lake City,365,24,51,mountain,1.000000,21,1.000000,24
7,Phoenix,366,70,75,mountain,Phoenix,365,59,74,mountain,1.000000,70,1.000000,59
8,Twin Falls,272,7,18,mountain,Twin Falls,351,1,24,mountain,0.743169,9,0.961644,1
9,Albuquerque,366,10,54,mountain,Albuquerque,365,5,60,mountain,1.000000,10,1.000000,5
10,Chicago,366,28,56,central,Chicago,365,43,71,central,1.000000,28,1.000000,43
11,St. Louis,366,11,54,central,St. Louis,365,103,74,central,1.000000,11,1.000000,103
12,Dalas,306,24,49,central,Dalas,365,28,52,central,0.836066,28,1.000000,28
13,Columbus,366,3,41,central,Columbus,365,23,51,central,1.000000,3,1.000000,23
14,New Orleans,366,0,44,central,New Orleans,365,72,63,central,1.000000,0,1.000000,72
15,Boston,306,0,42,east,Boston,365,10,47,east,0.836066,0,1.000000,10
16,Washington D.C.,366,3,42,east,Washington D.C.,365,50,55,east,1.000000,3,1.000000,50
17,Miami,275,2,44,east,Miami,365,6,48,east,0.751366,2,1.000000,6
18,Trenton,366,3,38,east,Trenton,365,33,44,east,1.000000,3,1.000000,33
19,Portland,366,0,39,east,Portland,365,8,38,east,1.000000,0,1.000000,8

In [19]:
# Question 5

alldata.describe()

,Total_Days2020,Poor_Days2020,AQI_Median2020,Total_Days2010,Poor_Days2010,AQI_Median2010,Scale2020,Poorday_Rate2020,Scale2010,Poorday_Rate2010
count,20.000000,20.000000,20.000000,20.000000,20.00,20.000000,20.000000,20.000000,20.000000,20.00
mean,340.600000,18.550000,46.000000,364.300000,32.05,52.450000,0.930601,21.050000,0.998082,32.05
std,36.991322,29.124912,15.248814,3.130495,33.39,14.590823,0.101069,36.549138,0.008577,33.39
min,272.000000,0.000000,18.000000,351.000000,1.00,24.000000,0.743169,0.000000,0.961644,1.00
25%,306.000000,1.500000,40.500000,365.000000,5.75,43.250000,0.836066,1.500000,1.000000,5.75
50%,366.000000,8.500000,44.000000,365.000000,23.50,51.000000,1.000000,9.500000,1.000000,23.50
75%,366.000000,22.500000,54.000000,365.000000,44.75,61.500000,1.000000,25.750000,1.000000,44.75
max,366.000000,119.000000,81.000000,365.000000,115.00,77.000000,1.000000,158.000000,1.000000,115.00

In [20]:
# Question 6

alldata.dtypes

City2020             object
Total_Days2020        int64
Poor_Days2020         int64
AQI_Median2020        int64
Zone2020             object
City2010             object
Total_Days2010        int64
Poor_Days2010         int64
AQI_Median2010        int64
Zone2010             object
Scale2020           float64
Poorday_Rate2020      int32
Scale2010           float64
Poorday_Rate2010      int32
dtype: object

In [26]:
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
import numpy as np
alldata["City2020"] = np.arange(len(alldata["City2020"]))

plt.style.use('seaborn-deep')
plt.bar(alldata["City2020"] + 0.5,alldata["Poorday_Rate2010"],color='teal',label='Poor Day Rate 2010',width = 0.5)
plt.bar(alldata["City2020"],alldata["Poorday_Rate2020"],color='orange',label='Poor Day Rate 2020',width = 0.5)
plt.title('Poor Day Rate 2010 vs 2020')
plt.legend()
plt.xlabel('City')
plt.ylabel('Poor Days')
plt.grid(True)
plt.show()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices