# Python Data Types

In [7]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [18]:
# 1. Boolean Data (0 or 1, False or True, No or Yes)

a = True 
b = False 
a

True

In [10]:
a

True

In [11]:
b

False

In [23]:
print('Hi! My name is Dan.')

Hi! My name is Dan.

In [16]:
print(b)

False

In [28]:
# 2. Integer Data (1,-1,0,8)

multiply = 4*4 
type(multiply)

int

In [37]:
import math
# 3. Float Data (1.0,-1.0,0.0,8.0)
divide = 4/4
c = 3.4323
d = 16
e = c + d
mysqrt = math.sqrt(16)

type(c)
print(e)
print(mysqrt)

19.4323
4.0

In [52]:
fname = 'Dan '
lname = 'Gorman'
print(fname)
print(lname)
print(type(fname))

Dan
Gorman
<class 'str'>

In [38]:
type(c)

float

In [41]:
ctoint = int(c)
type(ctoint)

int

In [54]:
age = 26
ages = str(age)
fullname = fname + lname
print(fname + "" + lname + 'is years old')

Dan Gormanis years old

In [56]:
print(f'{fullname} is {d} years old')

Dan Gorman is 16 years old