# Python Data Types

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
# 1. Boolean Data (0 or 1, False or True, No or Yes)

a = True 
b = False 
type(a)

bool

In [3]:
a

True

In [4]:
b

False

In [5]:
print('Hi! My name is Dan.')

Hi! My name is Dan.

In [6]:
print(b)

False

In [7]:
# 2. Integer Data (1,-1,0,8)

multiply = 4*4 
type(multiply)

int

In [8]:
import math
# 3. Float Data (1.0,-1.0,0.0,8.0)
divide = 4/4
c = 3.4323
d = 16
e = c + d
mysqrt = math.sqrt(16)

type(c)
print(e)
print(mysqrt)

19.4323
4.0

In [9]:
# 4. String Data
fname = 'Dan'
lname = 'Gorman'
print(fname)
print(lname)
print(type(fname))

Dan
Gorman
<class 'str'>

In [10]:
type(c)

float

In [11]:
ctoint = int(c)
type(ctoint)

int

In [12]:
age = 26
ages = str(age)
fullname = fname + ' ' + lname
print(fname + " " + lname + ' ' + ages + ' is years old')

Dan Gorman 26 is years old

In [13]:
print(f'{fullname} is {age} years old')

Dan Gorman is 26 years old

In [14]:
age

26

In [15]:
print(fullname,age)

Dan Gorman 26

In [16]:
stringval = '3.333333'
intval = float(stringval)

In [17]:
intval2 = int(intval)

In [18]:
type(intval2)

int

# Python Data Structures

In [45]:
# 1. Lists,(are containers)
mylist=[1,2,3,4,5,6,7,8,9,10]
mylist2=[45.67,33.21,['Dan','Gorman'],100]

#Indexing in Python
Index=[0,1,2,3,4,5,6,7,8,9]
#     [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]
mylist[-10]

1

In [58]:
city=['Burlington','Portland','Concord','Boston','Worcester','Providence','Hartford']
# Indexing a range of values
# (Begin:End) *End value must be one index value higher (exclusive)
northernne = city[0:3]

In [59]:
city

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [61]:
city.insert(2,'Manchester')

In [62]:
city

['Burlington',
 'Portland',
 'Manchester',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [63]:
city[5]='Springfield'

In [64]:
city

['Burlington',
 'Portland',
 'Manchester',
 'Concord',
 'Boston',
 'Springfield',
 'Providence',
 'Hartford']

In [47]:
northernne

['Burlington', 'Portland', 'Concord']

In [48]:
city2 = city
city2

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [49]:
city2.append('Mt. Washington')

In [50]:
city2

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford',
 'Mt. Washington']

In [51]:
city2.pop(1)

'Portland'

In [52]:
city2.replace([2],'Manchester')

AttributeError: 'list' object has no attribute 'replace'

In [35]:
city2

['Burlington',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford',
 'Mt. Washington']

In [36]:
# 2. Tuples (cannot be modified)
mytuple = (1,2,3,4,5,6,7,8,9,10,['Dan'])

In [37]:
mytuple[-1]

['Dan']

In [38]:
mytuplelist = list(mytuple)
type(mytuple)

tuple

In [39]:
type(mytuplelist)

list

In [40]:
mytuplelist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ['Dan']]

In [41]:
# 3. Dictionaries (key-value pairs)

snowfall = {'Burlington':81.2,'Portland':61.9,'Concord':61.4,'Boston':43.8,'Worcester':64.1,'Providence':33.8,'Hartford':40.5}

In [42]:
snowfall['Boston']

43.8

In [43]:
snowfall2 = {'City':['Burlington','Portland','Concord'],'Snowfall':[81.2,61.9,61.4]}

In [44]:
import pandas as pd
snowdf = pd.DataFrame(snowfall2)
snowdf

         City  Snowfall
0  Burlington      81.2
1    Portland      61.9
2     Concord      61.4